

/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 100%;
  margin: 0 auto ;
  /* padding: 30px; */
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
  color: #33343D;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .input-container label {
    text-align: left;
    font-size: 13px;
   
  }
  



  .form select {
    outline: 0;
    background: #F8F1F6; /* Light gray background color */
    width: 100%;
    border: 0;
    margin: 0;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
  }

  
  .create-button {
    background: #EF3B3A; 
    color: #FFFFFF; 
    float: right;
    max-width: 40%;
    
  }
  



.form input {
  outline: 0;
  background: #F8F1F6; 
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  
}

.form input[type=range] {
    outline: 0;
    background: none; 
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 14px;
    color: red;
  }

.form button {
  outline: 0;
  background: #592d4d; 
  width: 100%;
  border: 0;
  padding: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF; 
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.range-container {
    position: relative;
}


/* Custom styles for the range input */
.form input[type=range] {
    position: relative !important;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    margin: 5px 0; 
  }
  
  /* Custom styles for the range thumb (ball) */
  .form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
   
    background: #ffe9fa; 
    border-radius: 50%; 
    cursor: pointer;
  }
  .form input[type=range]::-moz-range-thumb {
    width: 20px; /* Width of the thumb (ball) */
    height: 20px; /* Height of the thumb (ball) */
    background: #592d4d; /* Color for the thumb (ball) */
    border-radius: 50%; /* Rounded shape for the thumb (ball) */
    cursor: pointer;
    /* position: relative !important; */
  }
  .form input[type=range]::-ms-thumb {
    width: 20px; /* Width of the thumb (ball) */
    height: 20px; /* Height of the thumb (ball) */
    background: #592d4d; /* Color for the thumb (ball) */
    border-radius: 50%; /* Rounded shape for the thumb (ball) */
    cursor: pointer;
  }
  

/* Custom styles for the tooltip */
.tooltip1 {
    position: absolute;
    visibility: hidden;
    background-color: #592d4d; /* Tooltip background color */
    color: #fff; /* Tooltip text color */
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1;
    top: -0px; /* Adjust the tooltip position above the range input */
    left: 7%;
    transform: translateX(-50%);
  }
  
  /* Show the tooltip on hover */
  .form input[type="range"]:hover + .tooltip1 {
    visibility: visible;
  }



  .toggle {
    cursor: pointer;
    margin-top: -1.2rem;
    display: inline-block;
    font-size: 13px;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 16px;
    width: 50px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 13px;
    height: 13px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #592d4d;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }


